name = "artwalls"
compatibility_date = "2024-01-01"
type = "javascript"
main = "worker/index.ts"
main = "worker/index.ts"

[build]
command = "npm install && npm run build"
cwd = "."
watch_paths = ["src/**/*.{ts,tsx}"]

[vars]
API_BASE_URL = "https://api.artwalls.space"
